export HISTFILE=$PWD/.zsh_history

# Drop all databases except admin, config, and local
# mongosh --eval 'db.adminCommand({listDatabases: 1}).databases.forEach(function(d) { if(d.name != "admin" && d.name != "config" && d.name != "local") { db = db.getSiblingDB(d.name); db.dropDatabase(); print("Dropped database: " + d.name); } })'
CLEAN_LOCAL_DB() {
    mongosh --eval 'db.adminCommand({listDatabases: 1}).databases.forEach(function(d) { if(d.name != "admin" && d.name != "config" && d.name != "local") { db = db.getSiblingDB(d.name); db.dropDatabase(); print("Dropped database: " + d.name); } })'
}